
@{
    ViewData["Title"] = "GetCookie";
}

<h1>GetCookie</h1>
<p>User: @ViewData["user"]</p>

@if (Context.Request.Cookies["user"] == "peter")
{
    <h2>Welcome Peter!!!</h2>
}

<p>Balance: @ViewData["balance"]</p>

